
<div>
    <h2><span>Temporada</span> {{temporada.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Anyo</span>
                </td>
                <td>
                    <span class="form-control-static">{{temporada.anyo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>liga</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="liga.detail({id:temporada.liga.id})">{{temporada.liga.nombre}}</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div>
            <h1>Último partido</h1>
                <p>Fecha del ultimo partido: {{ultimopartido.fecha}}</p>
                <p>Árbitro del ultimo partido: {{ultimopartido.nombreArbitro}}</p>
                <p>Equipo local: {{ultimopartido.nombreEquipoLocal}}</p>
                <p>Equipo visitante: {{ultimopartido.nombreEquipoVisitante}}</p>
                <p>Resultado final: <strong>{{ultimopartido.puntosLocal}}:{{ultimopartido.puntosVisitante}}</strong></p>

        </div>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
