<div>
    <h2>Temporadas</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="temporada.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Temporada</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="anyo"><span>Anyo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="liga.nombre"><span>liga</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="temporada in temporadas track by temporada.id">
                    <td><a ui-sref="temporada.detail({id:temporada.id})">{{temporada.id}}</a></td>
                    <td>{{temporada.anyo}}</td>
                    <td>
                        <a ui-sref="liga.detail({id:temporada.liga.id})">{{temporada.liga.nombre}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="temporada.detail({id:temporada.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="temporada.edit({id:temporada.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="temporada.delete({id:temporada.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
