<div>
    <h2>Partidos</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="partido.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Partido</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fecha"><span>Fecha</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="puntosLocal"><span>PuntosLocal</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="puntosVisitante"><span>PuntosVisitante</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="equipoLocal.nombre"><span>equipoLocal</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="equipoVisitante.nombre"><span>equipoVisitante</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="temporada.anyo"><span>temporada</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="arbitro.nombre"><span>arbitro</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="partido in partidos track by partido.id">
                    <td><a ui-sref="partido.detail({id:partido.id})">{{partido.id}}</a></td>
                        <td>{{partido.fecha | date:'mediumDate'}}</td>
                    <td>{{partido.puntosLocal}}</td>
                    <td>{{partido.puntosVisitante}}</td>
                    <td>
                        <a ui-sref="equipo.detail({id:partido.equipoLocal.id})">{{partido.equipoLocal.nombre}}</a>
                    </td>
                    <td>
                        <a ui-sref="equipo.detail({id:partido.equipoVisitante.id})">{{partido.equipoVisitante.nombre}}</a>
                    </td>
                    <td>
                        <a ui-sref="temporada.detail({id:partido.temporada.id})">{{partido.temporada.anyo}}</a>
                    </td>
                    <td>
                        <a ui-sref="arbitro.detail({id:partido.arbitro.id})">{{partido.arbitro.nombre}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="partido.detail({id:partido.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="partido.edit({id:partido.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="partido.delete({id:partido.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
