
<div>
    <h2><span>Partido</span> {{partido.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Fecha</span>
                </td>
                <td>
                    <span class="form-control-static">{{partido.fecha | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>PuntosLocal</span>
                </td>
                <td>
                    <span class="form-control-static">{{partido.puntosLocal}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>PuntosVisitante</span>
                </td>
                <td>
                    <span class="form-control-static">{{partido.puntosVisitante}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>equipoLocal</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="equipo.detail({id:partido.equipoLocal.id})">{{partido.equipoLocal.nombre}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>equipoVisitante</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="equipo.detail({id:partido.equipoVisitante.id})">{{partido.equipoVisitante.nombre}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>temporada</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="temporada.detail({id:partido.temporada.id})">{{partido.temporada.anyo}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>arbitro</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="arbitro.detail({id:partido.arbitro.id})">{{partido.arbitro.nombre}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
