
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPartidoLabel">Create or edit a Partido</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="partido.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fecha">Fecha</label>
            <input type="date" class="form-control" name="fecha" id="field_fecha"
                    ng-model="partido.fecha"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_puntosLocal">PuntosLocal</label>
            <input type="number" class="form-control" name="puntosLocal" id="field_puntosLocal"
                    ng-model="partido.puntosLocal"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_puntosVisitante">PuntosVisitante</label>
            <input type="number" class="form-control" name="puntosVisitante" id="field_puntosVisitante"
                    ng-model="partido.puntosVisitante"
                     />
        </div>

        <div class="form-group">
            <label for="field_equipoLocal">equipoLocal</label>
            <select class="form-control" id="field_equipoLocal" name="equipoLocal" ng-model="partido.equipoLocal" ng-options="equipo as equipo.nombre disable when equipo.nombre==partido.equipoVisitante.nombre for equipo in equipos track by equipo.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_equipoVisitante">equipoVisitante</label>
            <select  class="form-control" id="field_equipoVisitante" name="equipoVisitante" ng-model="partido.equipoVisitante" ng-options="equipo as equipo.nombre disable when equipo.nombre==partido.equipoLocal.nombre for equipo in equipos track by equipo.id ">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_temporada">temporada</label>
            <select class="form-control" id="field_temporada" name="temporada" ng-model="partido.temporada" ng-options="temporada as temporada.anyo for temporada in temporadas track by temporada.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_arbitro">arbitro</label>
            <select class="form-control" id="field_arbitro" name="arbitro" ng-model="partido.arbitro" ng-options="arbitro as arbitro.nombre for arbitro in arbitros track by arbitro.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
