
<div>
    <h2><span>Socio</span> {{socio.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Nombre</span>
                </td>
                <td>
                    <span class="form-control-static">{{socio.nombre}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>FechaNacimiento</span>
                </td>
                <td>
                    <span class="form-control-static">{{socio.fechaNacimiento | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Foto</span>
                </td>
                <td>
                    <img data-ng-src="{{'data:' + socio.fotoContentType + ';base64,' + socio.foto}}" style="max-width: 100%;" ng-if="socio.foto"/>
                    <div>{{socio.fotoContentType}}  {{byteSize(socio.foto)}}</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
