<div>
    <h2>Socios</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="socio.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Socio</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nombre"><span>Nombre</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fechaNacimiento"><span>FechaNacimiento</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="foto"><span>Foto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="socio in socios track by socio.id">
                    <td><a ui-sref="socio.detail({id:socio.id})">{{socio.id}}</a></td>
                    <td>{{socio.nombre}}</td>
                        <td>{{socio.fechaNacimiento | date:'mediumDate'}}</td>
                    <td>
                        <img data-ng-src="{{'data:' + socio.fotoContentType + ';base64,' + socio.foto}}" style="max-height: 30px;" ng-if="socio.foto"/> {{socio.fotoContentType}} {{byteSize(socio.foto)}}
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="socio.detail({id:socio.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="socio.edit({id:socio.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="socio.delete({id:socio.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
