
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myJugadorLabel">Create or edit a Jugador</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="jugador.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                    ng-model="jugador.nombre"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fechaNacimiento">FechaNacimiento</label>
            <input type="date" class="form-control" name="fechaNacimiento" id="field_fechaNacimiento"
                    ng-model="jugador.fechaNacimiento"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_canastasTotal">CanastasTotal</label>
            <input type="number" class="form-control" name="canastasTotal" id="field_canastasTotal"
                    ng-model="jugador.canastasTotal"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_asistenciasTotal">AsistenciasTotal</label>
            <input type="number" class="form-control" name="asistenciasTotal" id="field_asistenciasTotal"
                    ng-model="jugador.asistenciasTotal"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_rebotesTotal">RebotesTotal</label>
            <input type="number" class="form-control" name="rebotesTotal" id="field_rebotesTotal"
                    ng-model="jugador.rebotesTotal"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_posicion">Posicion</label>
            <input type="text" class="form-control" name="posicion" id="field_posicion"
                    ng-model="jugador.posicion"
                     />
        </div>

        <div class="form-group">
            <label for="field_equipo">equipo</label>
            <select class="form-control" id="field_equipo" name="equipo" ng-model="jugador.equipo" ng-options="equipo as equipo.nombre for equipo in equipos | orderBy:'id' track by equipo.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_jugadorEquipo">jugadorEquipo</label>
            <select class="form-control" id="field_jugadorEquipo" name="jugadorEquipo" ng-model="jugador.jugadorEquipo" ng-options="equipo as equipo.nombre for equipo in equipos track by equipo.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
