
<div>
    <h2><span>Jugador</span> {{jugador.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Nombre</span>
                </td>
                <td>
                    <span class="form-control-static">{{jugador.nombre}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>FechaNacimiento</span>
                </td>
                <td>
                    <span class="form-control-static">{{jugador.fechaNacimiento | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>CanastasTotal</span>
                </td>
                <td>
                    <span class="form-control-static">{{jugador.canastasTotal}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>AsistenciasTotal</span>
                </td>
                <td>
                    <span class="form-control-static">{{jugador.asistenciasTotal}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>RebotesTotal</span>
                </td>
                <td>
                    <span class="form-control-static">{{jugador.rebotesTotal}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Posicion</span>
                </td>
                <td>
                    <span class="form-control-static">{{jugador.posicion}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>equipo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="equipo.detail({id:jugador.equipo.id})">{{jugador.equipo.nombre}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>jugadorEquipo</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="equipo.detail({id:jugador.jugadorEquipo.id})">{{jugador.jugadorEquipo.nombre}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
