<div>
    <h2>Jugadors</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="jugador.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Jugador</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nombre"><span>Nombre</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fechaNacimiento"><span>FechaNacimiento</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="canastasTotal"><span>CanastasTotal</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="asistenciasTotal"><span>AsistenciasTotal</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rebotesTotal"><span>RebotesTotal</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="posicion"><span>Posicion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="equipo.nombre"><span>Capitan</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jugadorEquipo.nombre"><span>Equipo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="jugador in jugadors track by jugador.id">
                    <td><a ui-sref="jugador.detail({id:jugador.id})">{{jugador.id}}</a></td>
                    <td>{{jugador.nombre}}</td>
                        <td>{{jugador.fechaNacimiento | date:'mediumDate'}}</td>
                    <td>{{jugador.canastasTotal}}</td>
                    <td>{{jugador.asistenciasTotal}}</td>
                    <td>{{jugador.rebotesTotal}}</td>
                    <td>{{jugador.posicion}}</td>
                    <td>
                        <a ui-sref="equipo.detail({id:jugador.equipo.id})">{{jugador.equipo.nombre}}</a>
                    </td>
                    <td>
                        <a ui-sref="equipo.detail({id:jugador.jugadorEquipo.id})">{{jugador.jugadorEquipo.nombre}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="jugador.detail({id:jugador.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="jugador.edit({id:jugador.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="jugador.delete({id:jugador.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
