
<div>
    <h2><span>Arbitro</span> {{arbitro.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Nombre</span>
                </td>
                <td>
                    <span class="form-control-static">{{arbitro.nombre}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>FechaNacimiento</span>
                </td>
                <td>
                    <span class="form-control-static">{{arbitro.fechaNacimiento | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>liga</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="liga.detail({id:arbitro.liga.id})">{{arbitro.liga.nombre}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
