
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myArbitroLabel">Create or edit a Arbitro</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="arbitro.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                    ng-model="arbitro.nombre"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fechaNacimiento">FechaNacimiento</label>
            <input type="date" class="form-control" name="fechaNacimiento" id="field_fechaNacimiento"
                    ng-model="arbitro.fechaNacimiento"
                     />
        </div>

        <div class="form-group">
            <label for="field_liga">liga</label>
            <select class="form-control" id="field_liga" name="liga" ng-model="arbitro.liga" ng-options="liga as liga.nombre for liga in ligas track by liga.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
