
<div>
    <h2><span>Estadisticas</span> {{estadisticas.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Canastas</span>
                </td>
                <td>
                    <span class="form-control-static">{{estadisticas.canastas}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Faltas</span>
                </td>
                <td>
                    <span class="form-control-static">{{estadisticas.faltas}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Rebotes</span>
                </td>
                <td>
                    <span class="form-control-static">{{estadisticas.rebotes}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>jugador</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="jugador.detail({id:estadisticas.jugador.id})">{{estadisticas.jugador.nombre}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>estadisticasPartido</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="partido.detail({id:estadisticas.estadisticasPartido.id})">{{estadisticas.estadisticasPartido.id}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
