<div>
    <h2>Estadisticass</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="estadisticas.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Estadisticas</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="canastas"><span>Canastas</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="faltas"><span>Faltas</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rebotes"><span>Rebotes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jugador.nombre"><span>jugador</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estadisticasPartido.id"><span>estadisticasPartido</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="estadisticas in estadisticass track by estadisticas.id">
                    <td><a ui-sref="estadisticas.detail({id:estadisticas.id})">{{estadisticas.id}}</a></td>
                    <td>{{estadisticas.canastas}}</td>
                    <td>{{estadisticas.faltas}}</td>
                    <td>{{estadisticas.rebotes}}</td>
                    <td>
                        <a ui-sref="jugador.detail({id:estadisticas.jugador.id})">{{estadisticas.jugador.nombre}}</a>
                    </td>
                    <td>
                        <a ui-sref="partido.detail({id:estadisticas.estadisticasPartido.id})">{{estadisticas.estadisticasPartido.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="estadisticas.detail({id:estadisticas.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="estadisticas.edit({id:estadisticas.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="estadisticas.delete({id:estadisticas.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
