
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myEstadisticasLabel">Create or edit a Estadisticas</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="estadisticas.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_canastas">Canastas</label>
            <input type="number" class="form-control" name="canastas" id="field_canastas"
                    ng-model="estadisticas.canastas"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_faltas">Faltas</label>
            <input type="number" class="form-control" name="faltas" id="field_faltas"
                    ng-model="estadisticas.faltas"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_rebotes">Rebotes</label>
            <input type="number" class="form-control" name="rebotes" id="field_rebotes"
                    ng-model="estadisticas.rebotes"
                     />
        </div>

        <div class="form-group">
            <label for="field_jugador">jugador</label>
            <select class="form-control" id="field_jugador" name="jugador" ng-model="estadisticas.jugador" ng-options="jugador as jugador.nombre for jugador in jugadors track by jugador.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_estadisticasPartido">estadisticasPartido</label>
            <select class="form-control" id="field_estadisticasPartido" name="estadisticasPartido" ng-model="estadisticas.estadisticasPartido" ng-options="partido as partido.id for partido in partidos track by partido.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
