<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="glcApp" ng-controller="myCtrl">
 	<p>Nombre : <input type="text" ng-model="nombre"></p>
  <p>Fecha nacimiento : <input type="date" ng-model="fecha"></p>
  <p>Canastas : <input type="text" ng-model="canastas"></p>
  <p>Rebotes : <input type="text" ng-model="rebotes"></p>
  <p>Asistencias : <input type="text" ng-model="asistencias"></p>
  <p>Posición : <input type="text" ng-model="posicion"></p>

  <hr>
  <h1>Datos del jugador</h1>

 	<h1>Nombre del jugador: {{nombre}}</h1>
  <h1>Fecha de nacimiento del jugador: {{fecha | date:"dd/MM/yyyy" }}</h1>
  <h1>Canastas del jugador: {{canastas}}</h1>
  <h1>Rebotes del jugador: {{rebotes}}</h1>
  <h1>Asistencias del jugador: {{asistencias}}</h1>
  <h1>Posición del jugador: {{posicion}}</h1>


</div>


<script>
var app = angular.module('glcApp', []);
app.controller('myCtrl', function($scope) {
    $scope.nombre= "Manuel";
    $scope.fecha= new Date();
    $scope.canastas= "2";
    $scope.rebotes= "2";
    $scope.asistencias= "2";
    $scope.posicion= "base";
console.log($scope.fecha);
});


</script>


</body>
</html>
