<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="" ng-init="jugadores=
[
{nombre:'pepe',fecha:'01/01/2000', canastas:3, rebotes: 1,asistencias:1,posicion:'base'},
{nombre:'Manu',fecha:'01/01/2000', canastas:32, rebotes: 1,asistencias:1,posicion:'base'},
{nombre:'Diin',fecha:'01/01/2000', canastas:661, rebotes: 1,asistencias:1,posicion:'base'}
] ">

  <hr>
  <h1>Datos del jugador</h1>
  <div class="" ng-repeat="jugador in jugadores">


   	<h1>Nombre del jugador: {{jugador.nombre}}</h1>
    <h1>Fecha de nacimiento del jugador: {{jugador.fecha | date:"dd/MM/yyyy" }}</h1>
    <h1>Canastas del jugador: {{jugador.canastas}}</h1>
    <h1>Rebotes del jugador: {{jugador.rebotes}}</h1>
    <h1>Asistencias del jugador: {{jugador.asistencias}}</h1>
    <h1>Posición del jugador: {{jugador.posicion}}</h1>
    <hr>

  </div>
</div>



</body>
</html>
