<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="glcApp" ng-controller="jugadorCtrl">

  <p>Nombre : <input type="text" ng-model="jugador.nombre"></p>
  <p>Fecha nacimiento : <input type="date" ng-model="jugador.fecha"></p>
  <p>Canastas : <input type="text" ng-model="jugador.canastas"></p>
  <p>Rebotes : <input type="text" ng-model="jugador.rebotes"></p>
  <p>Asistencias : <input type="text" ng-model="jugador.asistencias"></p>
  <p>Posición : <input type="text" ng-model="jugador.posicion"></p>


    <h1>Datos del jugador</h1>
      <h1>Nombre del jugador: {{jugador.nombre}}</h1>
      <h1>Fecha de nacimiento del jugador: {{jugador.fecha | date:"dd/MM/yyyy" }}</h1>
      <h1>Canastas del jugador: {{jugador.canastas}}</h1>
      <h1>Rebotes del jugador: {{jugador.rebotes}}</h1>
      <h1>Asistencias del jugador: {{jugador.asistencias}}</h1>
      <h1>Posición del jugador: {{jugador.posicion}}</h1>
    
</div>

<script>
var app = angular.module('glcApp', []);
app.controller('jugadorCtrl', function($scope) {
    $scope.jugador= {nombre:'pepe',fecha:'01/01/2000', canastas:3, rebotes: 1,asistencias:1,posicion:'base'};
});


</script>

</body>
</html>
