<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>


<div ng-app="myApp" ng-controller="customersCtrl">
    jugadores:
<ul>
  <li ng-repeat="x in myData">
    nombre:{{ x.nombre }}
  </li>
</ul>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
  $http.get("api/jugadors").then(function (response) {
      $scope.myData = response.data;
  });
});
</script>

</body>
</html>
