<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>


<div ng-app="myApp" ng-controller="customersCtrl">
    <select name="equipo" ng-model="selector" ng-change="change()">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
    </select>
    selector: {{selector}}
        url: {{url}}
    <div>
      <p ng-repeat="j in myData">
        {{ j.nombre }}
      </p>
    </div>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
    $scope.selector = "1";
    $scope.url="1";
    $scope.change = function(){
        $scope.url="api/equipos/"+$scope.selector+"/jugadores";
        $http.get("api/equipos/"+$scope.selector+"/jugadores").then(function (response) {
            $scope.myData = response.data;
            console.log($scope.myData);});
    }
  $http.get("api/equipos/"+$scope.selector+"/jugadores").then(function (response) {
      $scope.myData = response.data;
      console.log($scope.myData);});
});
</script>

</body>
</html>
