<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>


<div ng-app="myApp" ng-controller="customersCtrl">

    <table>
        <tr>
        <td>Nombre</td>
        <td>Fecha nacimiento</td>
        <td>Canastas</td>
        <td>Asistencias</td>
        <td>Rebotes</td>
        <td>posicion</td>
        </tr>
        <tr ng-repeat="x in datos">
            <td>{{ x.nombre }}</td>
            <td>{{ x.fechaNacimiento }}</td>
            <td>{{ x.canastasTotal }}</td>
            <td>{{ x.asistenciasTotal }}</td>
            <td>{{ x.rebotesTotal }}</td>
            <td>{{ x.posicion }}</td>
        </tr>
    </table>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
  $http.get("api/jugadors").then(function (response) {
      $scope.datos = response.data;
  });
});
</script>

</body>
</html>
