<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style>
    thead tr{
        background-color: grey !important;
    }
</style>
<body>


<div ng-app="myApp" ng-controller="customersCtrl">

    <table>
        <thead>
        <td><input type="text" placeholder="Nombre" ng-model="jugador.nombre"></td>
        <td><input type="text" placeholder="Fecha nacimiento" ng-model="jugador.fechaNacimiento"></td>
        <td><input type="text" placeholder="Canastas" ng-model="jugador.canastasTotal"></td>
        <td><input type="text" placeholder="Asistencias" ng-model="jugador.asistenciasTotal"></td>
        <td><input type="text" placeholder="Rebotes" ng-model="jugador.rebotesTotal"></td>
        <td><input type="text" placeholder="Posicion" ng-model="jugador.posicion"></td>
        </thead>
        <tr  ng-repeat="x in datos  | filter:jugador">
            <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.nombre }}</td>
            <td ng-if="$even">{{ x.nombre }}</td>

            <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.fechaNacimiento }}</td>
            <td ng-if="$even">{{ x.fechaNacimiento }}</td>

            <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.canastasTotal }}</td ng-if="$odd">
            <td ng-if="$even">{{ x.canastasTotal }}</td>

            <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.asistenciasTotal }}</td>
            <td ng-if="$even">{{ x.asistenciasTotal }}</td>

            <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.rebotesTotal }}</td>
            <td ng-if="$even" >{{ x.rebotesTotal }}</td>


            <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.posicion }}</td>
            <td ng-if="$even">{{ x.posicion }}</td>



        </tr>
    </table>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
  $http.get("api/jugadors").then(function (response) {
      $scope.datos = response.data;
  });
});
</script>

</body>
</html>
