<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style>
    thead tr{
        background-color: grey !important;
    }
</style>
<body>


<div ng-app="myApp" ng-controller="customersCtrl">

    <table>
        <thead>
        <td ng-click="orderByMe('nombre')">Nombre</td>
        <td ng-click="orderByMe('fechaNacimiento')">Fecha nacimiento</td>
        <td ng-click="orderByMe('canastasTotal')">Canastas</td>
        <td ng-click="orderByMe('asistenciasTotal')">Asistencias</td>
        <td ng-click="orderByMe('rebotesTotal')">Rebotes</td>
        <td ng-click="orderByMe('posicion')">posicion</td>
        </thead>
        <tr ng-repeat="x in datos | orderBy:myOrderBy">
            <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.nombre }}</td>
            <td ng-if="$even">{{ x.nombre }}</td>

            <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.fechaNacimiento }}</td>
            <td ng-if="$even">{{ x.fechaNacimiento }}</td>

            <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.canastasTotal }}</td>
            <td ng-if="$even">{{ x.canastasTotal }}</td>

            <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.asistenciasTotal }}</td>
            <td ng-if="$even">{{ x.asistenciasTotal }}</td>

            <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.rebotesTotal }}</td>
            <td ng-if="$even" >{{ x.rebotesTotal }}</td>


            <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.posicion }}</td>
            <td ng-if="$even">{{ x.posicion }}</td>



        </tr>
    </table>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {

    $http.get("api/jugadors").then(function (response) {
      $scope.datos = response.data;
    });


    $scope.orderByMe = function(x) {
        $scope.myOrderBy = x;
    }
});
</script>

</body>
</html>
