<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<style>
    thead tr{
        background-color: grey !important;
    }
</style>
<body>


<div ng-app="myApp" ng-controller="customersCtrl">
    <form name="formJugador" ng-submit="save()">

        Nombre: <input type="text" name="nombre" ng-model="jugador.nombre" required/>
        <span ng-show="formJugador.nombre.$touched && formJugador.nombre.$invalid">El nombre es requerido</span><br/>

        Fecha nacimiento: <input type="date" name="nombre" ng-model="jugador.fechaNacimiento" required/>
        <span ng-show="formJugador.fechaNacimiento.$touched && formJugador.fechaNacimiento.$invalid">El nombre es requerido</span><br/>


        Canastas Totales: <input type="number" name="canastasTotales" ng-model="jugador.canastasTotal" required/>
        <span ng-show="formJugador.canastasTotal.$touched && formJugador.canastasTotal.$invalid">Requerido</span><br/>

        Asistencias Totales: <input type="number" name="asistenciasTotal" ng-model="jugador.asistenciasTotal" required/>
        <span ng-show="formJugador.asistenciasTotal.$touched && formJugador.asistenciasTotal.$invalid">Requerido</span><br/>

        Rebotes Totales: <input type="number" name="rebotesTotal" ng-model="jugador.rebotesTotal" required/>
        <span ng-show="formJugador.rebotesTotal.$touched && formJugador.rebotesTotal.$invalid">Requerido</span><br/>

        Posicion: <input type="text" name="posicion" ng-model="jugador.posicion" required/>
        <span ng-show="formJugador.posicion.$touched && formJugador.posicion.$invalid">La posicion es requerida</span><br/>

        <button type="submit" ng-disabled="formJugador.$invalid || isSaving">
            <span>Save</span>
        </button>

    </form>

</div>

<script>
var app = angular.module('myApp', ['ngResource']);
app.controller('customersCtrl', function($scope, Jugador) {
    $scope.jugador;
    $scope.save = function () {
        $scope.isSaving = true;
        Jugador.save($scope.jugador, onSaveSuccess, onSaveError);
    };
    var onSaveSuccess = function (result) {
        $scope.isSaving = false;
    };
    var onSaveError = function (result) {
        $scope.isSaving = false;
    };
});
app.factory("Jugador",function($resource){
    return $resource('api/jugadors/:id', {}, {
        'save': {
            method: 'POST',
            transformRequest: function (data) {
                return angular.toJson(data);
            }
        }
    });
});
</script>

</body>
</html>
