<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<style>
    thead tr{
        background-color: grey !important;
    }
</style>
<body>


<div ng-app="myApp" ng-controller="customersCtrl">
    <form name="formEquipo" ng-submit="save()">

        Nombre: <input type="text" name="nombre" ng-model="equipo.nombre" required/>
        <span ng-show="formEquipo.nombre.$touched && formEquipo.nombre.$invalid">El nombre es requerido</span><br/>

        Localidad: <input type="text" name="localidad" ng-model="equipo.localidad" required/>
        <span ng-show="formEquipo.localidad.$touched && formEquipo.localidad.$invalid">El nombre es requerido</span><br/>


        Fecha creacion: <input type="date" name="fechaCracion" ng-model="equipo.fechaCracion" required/>
        <span ng-show="formEquipo.fechaCracion.$touched && formEquipo.fechaCracion.$invalid">Requerido</span><br/>


        <button type="submit" ng-disabled="formEquipo.$invalid || isSaving">
            <span>Save</span>
        </button>

    </form>

</div>

<script>
var app = angular.module('myApp', ['ngResource']);
app.controller('customersCtrl', function($scope, Equipo) {
    $scope.equipo;
    $scope.save = function () {
        $scope.isSaving = true;
        Equipo.save($scope.equipo, onSaveSuccess, onSaveError);
    };
    var onSaveSuccess = function (result) {
        $scope.isSaving = false;
    };
    var onSaveError = function (result) {
        $scope.isSaving = false;
    };
});
app.factory("Equipo",function($resource){
    return $resource('api/equipos/:id', {}, {
        'save': {
            method: 'POST',
            transformRequest: function (data) {
                return angular.toJson(data);
            }
        }
    });
});
</script>

</body>
</html>
