<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>baloncesto</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css assets/styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css assets/styles/main.css -->
        <link rel="stylesheet" href="assets/styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-app="baloncestoApp">
        <!--[if lt IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div ng-show="{{ENV === 'dev'}}" class="development" ng-cloak=""></div>
        <div ui-view="navbar" ng-cloak=""></div>
        <div class="container">
            <div class="well" ui-view="content"></div>
            <div class="indice">
                <a href="ex01.html"><button>Ejercicio 1</button></a>
                <a href="ex02.html"><button>Ejercicio 2</button></a>
                <a href="ex03.html"><button>Ejercicio 3</button></a>
                <a href="ex04.html"><button>Ejercicio 4</button></a>
                <a href="ex05.html"><button>Ejercicio 5</button></a>

                <a href="ex06.html"><button>Ejercicio 6</button></a>
                <a href="ex07.html"><button>Ejercicio 7</button></a>
                <a href="ex08.html"><button>Ejercicio 8</button></a>
                <a href="ex09.html"><button>Ejercicio 9</button></a>
                <a href="ex10.html"><button>Ejercicio 10</button></a>

                <a href="ex11.html"><button>Ejercicio 11</button></a>
                <a href="ex12.html"><button>Ejercicio 12</button></a>
                <a href="ex13.html"><button>Ejercicio 13</button></a>
                <a href="ex14.html"><button>Ejercicio 14</button></a>
                <a href="ex15.html"><button>Ejercicio 15</button></a>

                <a href="ex16.html"><button>Ejercicio 16</button></a>
            </div>

            <div class="footer">
                <p translate="footer">This is your footer</p>
            </div>
        </div>

        <!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>-->

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-cache-buster/angular-cache-buster.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
        <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
        <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
        <!-- endbower -->
        <!-- endbuild -->


    <!-- build:js({.tmp,src/main/webapp}) scripts/app.js -->
    <script src="scripts/app/app.js"></script>
    <script src="scripts/app/app.constants.js"></script>
    <script src="scripts/components/auth/auth.service.js"></script>
    <script src="scripts/components/auth/principal.service.js"></script>
    <script src="scripts/components/auth/authority.directive.js"></script>
    <script src="scripts/components/auth/services/account.service.js"></script>
    <script src="scripts/components/auth/services/activate.service.js"></script>
    <script src="scripts/components/auth/services/password.service.js"></script>
    <script src="scripts/components/auth/services/register.service.js"></script>
    <script src="scripts/components/form/form.directive.js"></script>
    <script src="scripts/components/form/maxbytes.directive.js"></script>
    <script src="scripts/components/form/minbytes.directive.js"></script>
    <script src="scripts/components/form/uib-pager.config.js"></script>
    <script src="scripts/components/form/uib-pagination.config.js"></script>
    <script src="scripts/components/admin/audits.service.js"></script>
    <script src="scripts/components/admin/logs.service.js"></script>
    <script src="scripts/components/admin/configuration.service.js"></script>
    <script src="scripts/components/admin/monitoring.service.js"></script>
    <script src="scripts/components/interceptor/auth.interceptor.js"></script>
    <script src="scripts/components/interceptor/errorhandler.interceptor.js"></script>
    <script src="scripts/components/interceptor/notification.interceptor.js"></script>
    <script src="scripts/components/navbar/navbar.directive.js"></script>
    <script src="scripts/components/navbar/navbar.controller.js"></script>
    <script src="scripts/components/user/user.service.js"></script>
    <script src="scripts/components/util/truncate.filter.js"></script>
    <script src="scripts/components/util/base64.service.js"></script>
    <script src="scripts/components/util/capitalize.filter.js"></script>
    <script src="scripts/components/alert/alert.service.js"></script>
    <script src="scripts/components/alert/alert.directive.js"></script>
    <script src="scripts/components/util/parse-links.service.js"></script>
    <script src="scripts/components/util/dateutil.service.js"></script>
    <script src="scripts/components/util/data-util.service.js"></script>
    <script src="scripts/components/util/sort.directive.js"></script>
    <script src="scripts/app/account/account.js"></script>
    <script src="scripts/app/account/activate/activate.js"></script>
    <script src="scripts/app/account/activate/activate.controller.js"></script>
    <script src="scripts/app/account/login/login.js"></script>
    <script src="scripts/app/account/login/login.controller.js"></script>
    <script src="scripts/app/account/password/password.js"></script>
    <script src="scripts/app/account/password/password.controller.js"></script>
    <script src="scripts/app/account/password/password.directive.js"></script>
    <script src="scripts/app/account/register/register.js"></script>
    <script src="scripts/app/account/register/register.controller.js"></script>
    <script src="scripts/app/account/settings/settings.js"></script>
    <script src="scripts/app/account/settings/settings.controller.js"></script>
    <script src="scripts/app/account/reset/finish/reset.finish.controller.js"></script>
    <script src="scripts/app/account/reset/finish/reset.finish.js"></script>
    <script src="scripts/app/account/reset/request/reset.request.controller.js"></script>
    <script src="scripts/app/account/reset/request/reset.request.js"></script>
    <script src="scripts/app/admin/admin.js"></script>
    <script src="scripts/app/admin/audits/audits.js"></script>
    <script src="scripts/app/admin/audits/audits.controller.js"></script>
    <script src="scripts/app/admin/configuration/configuration.js"></script>
    <script src="scripts/app/admin/configuration/configuration.controller.js"></script>
    <script src="scripts/app/admin/docs/docs.js"></script>
    <script src="scripts/app/admin/health/health.js"></script>
    <script src="scripts/app/admin/health/health.controller.js"></script>
    <script src="scripts/app/admin/health/health.modal.controller.js"></script>
    <script src="scripts/app/admin/logs/logs.js"></script>
    <script src="scripts/app/admin/logs/logs.controller.js"></script>
    <script src="scripts/app/admin/metrics/metrics.js"></script>
    <script src="scripts/app/admin/metrics/metrics.controller.js"></script>
    <script src="scripts/app/admin/metrics/metrics.modal.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management-detail.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management-dialog.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management-delete-dialog.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management.js"></script>
    <script src="scripts/app/entities/entity.js"></script>
    <script src="scripts/app/error/error.js"></script>
    <script src="scripts/app/main/main.js"></script>
    <script src="scripts/app/main/main.controller.js"></script>
    <script src="scripts/components/auth/services/sessions.service.js"></script>
    <script src="scripts/components/auth/provider/auth.session.service.js"></script>
    <script src="scripts/app/account/sessions/sessions.js"></script>
    <script src="scripts/app/account/sessions/sessions.controller.js"></script>
    <script src="scripts/app/entities/equipo/equipo.js"></script>
    <script src="scripts/app/entities/equipo/equipo.controller.js"></script>
    <script src="scripts/app/entities/equipo/equipo-dialog.controller.js"></script>
    <script src="scripts/app/entities/equipo/equipo-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/equipo/equipo-detail.controller.js"></script>
    <script src="scripts/components/entities/equipo/equipo.service.js"></script>
    <script src="scripts/app/entities/jugador/jugador.js"></script>
    <script src="scripts/app/entities/jugador/jugador.controller.js"></script>
    <script src="scripts/app/entities/jugador/jugador-dialog.controller.js"></script>
    <script src="scripts/app/entities/jugador/jugador-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/jugador/jugador-detail.controller.js"></script>
    <script src="scripts/components/entities/jugador/jugador.service.js"></script>
    <script src="scripts/app/entities/estadio/estadio.js"></script>
    <script src="scripts/app/entities/estadio/estadio.controller.js"></script>
    <script src="scripts/app/entities/estadio/estadio-dialog.controller.js"></script>
    <script src="scripts/app/entities/estadio/estadio-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/estadio/estadio-detail.controller.js"></script>
    <script src="scripts/components/entities/estadio/estadio.service.js"></script>
    <script src="scripts/app/entities/entrenador/entrenador.js"></script>
    <script src="scripts/app/entities/entrenador/entrenador.controller.js"></script>
    <script src="scripts/app/entities/entrenador/entrenador-dialog.controller.js"></script>
    <script src="scripts/app/entities/entrenador/entrenador-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/entrenador/entrenador-detail.controller.js"></script>
    <script src="scripts/components/entities/entrenador/entrenador.service.js"></script>
    <script src="scripts/app/entities/socio/socio.js"></script>
    <script src="scripts/app/entities/socio/socio.controller.js"></script>
    <script src="scripts/app/entities/socio/socio-dialog.controller.js"></script>
    <script src="scripts/app/entities/socio/socio-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/socio/socio-detail.controller.js"></script>
    <script src="scripts/components/entities/socio/socio.service.js"></script>
    <script src="scripts/app/entities/liga/liga.js"></script>
    <script src="scripts/app/entities/liga/liga.controller.js"></script>
    <script src="scripts/app/entities/liga/liga-dialog.controller.js"></script>
    <script src="scripts/app/entities/liga/liga-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/liga/liga-detail.controller.js"></script>
    <script src="scripts/components/entities/liga/liga.service.js"></script>
    <script src="scripts/app/entities/temporada/temporada.js"></script>
    <script src="scripts/app/entities/temporada/temporada.controller.js"></script>
    <script src="scripts/app/entities/temporada/temporada-dialog.controller.js"></script>
    <script src="scripts/app/entities/temporada/temporada-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/temporada/temporada-detail.controller.js"></script>
    <script src="scripts/components/entities/temporada/temporada.service.js"></script>
    <script src="scripts/app/entities/arbitro/arbitro.js"></script>
    <script src="scripts/app/entities/arbitro/arbitro.controller.js"></script>
    <script src="scripts/app/entities/arbitro/arbitro-dialog.controller.js"></script>
    <script src="scripts/app/entities/arbitro/arbitro-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/arbitro/arbitro-detail.controller.js"></script>
    <script src="scripts/components/entities/arbitro/arbitro.service.js"></script>
    <script src="scripts/app/entities/partido/partido.js"></script>
    <script src="scripts/app/entities/partido/partido.controller.js"></script>
    <script src="scripts/app/entities/partido/partido-dialog.controller.js"></script>
    <script src="scripts/app/entities/partido/partido-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/partido/partido-detail.controller.js"></script>
    <script src="scripts/components/entities/partido/partido.service.js"></script>
    <script src="scripts/app/entities/estadisticas/estadisticas.js"></script>
    <script src="scripts/app/entities/estadisticas/estadisticas.controller.js"></script>
    <script src="scripts/app/entities/estadisticas/estadisticas-dialog.controller.js"></script>
    <script src="scripts/app/entities/estadisticas/estadisticas-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/estadisticas/estadisticas-detail.controller.js"></script>
    <script src="scripts/components/entities/estadisticas/estadisticas.service.js"></script>
    <!-- endbuild -->
</body>
</html>
