
<div>
    <h2><span>Equipo</span> {{equipo.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Nombre</span>
                </td>
                <td>
                    <span class="form-control-static">{{equipo.nombre}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Localidad</span>
                </td>
                <td>
                    <span class="form-control-static">{{equipo.localidad}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>FechaCracion</span>
                </td>
                <td>
                    <span class="form-control-static">{{equipo.fechaCracion | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>entrenador</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="entrenador.detail({id:equipo.entrenador.id})">{{equipo.entrenador.nombre}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>estadio</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="estadio.detail({id:equipo.estadio.id})">{{equipo.estadio.nombre}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>socios</span>
                </td>
                <td>
                    <span ng-repeat="socios in equipo.socioss">
                        <a class="form-control-static" ui-sref="socio.detail({id: {{socios.id}}})">{{socios.nombre}}</a>{{$last ? '' : ', '}}
                    <span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>equipoTemporada</span>
                </td>
                <td>
                    <span ng-repeat="equipoTemporada in equipo.equipoTemporadas">
                        <a class="form-control-static" ui-sref="temporada.detail({id: {{equipoTemporada.id}}})">{{equipoTemporada.anyo}}</a>{{$last ? '' : ', '}}
                    <span>
                </td>
            </tr>
            <tr>
                <td>
                     <span>Jugador con mas canastas</span>
                </td>
                <td>
                     <span class="form-control-static">{{maxCanastasJugador.canastasTotal}},{{maxCanastasJugador.nombre}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
