<div>
    <h2>Equipos</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="equipo.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Equipo</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nombre"><span>Nombre</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="localidad"><span>Localidad</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fechaCracion"><span>FechaCracion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="entrenador.nombre"><span>entrenador</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estadio.nombre"><span>estadio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="equipo in equipos track by equipo.id">
                    <td><a ui-sref="equipo.detail({id:equipo.id})">{{equipo.id}}</a></td>
                    <td>{{equipo.nombre}}</td>
                    <td>{{equipo.localidad}}</td>
                        <td>{{equipo.fechaCracion | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="entrenador.detail({id:equipo.entrenador.id})">{{equipo.entrenador.nombre}}</a>
                    </td>
                    <td>
                        <a ui-sref="estadio.detail({id:equipo.estadio.id})">{{equipo.estadio.nombre}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="equipo.detail({id:equipo.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="equipo.edit({id:equipo.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="equipo.delete({id:equipo.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
