
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myEquipoLabel">Create or edit a Equipo</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="equipo.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                    ng-model="equipo.nombre"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_localidad">Localidad</label>
            <input type="text" class="form-control" name="localidad" id="field_localidad"
                    ng-model="equipo.localidad"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fechaCracion">FechaCracion</label>
            <input type="date" class="form-control" name="fechaCracion" id="field_fechaCracion"
                    ng-model="equipo.fechaCracion"
                     />
        </div>

        <div class="form-group">
            <label for="field_entrenador">entrenador</label>
            <select class="form-control" id="field_entrenador" name="entrenador" ng-model="equipo.entrenador" ng-options="entrenador as entrenador.nombre for entrenador in entrenadors | orderBy:'id' track by entrenador.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_estadio">estadio</label>
            <select class="form-control" id="field_estadio" name="estadio" ng-model="equipo.estadio" ng-options="estadio as estadio.nombre for estadio in estadios | orderBy:'id' track by estadio.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_socios">socios</label>
            <select class="form-control" id="field_socios" multiple name="socios" ng-model="equipo.socioss" ng-options="socio as socio.nombre for socio in socios track by socio.id"></select>
        </div>
        <div class="form-group">
            <label for="field_equipoTemporada">equipoTemporada</label>
            <select class="form-control" id="field_equipoTemporada" multiple name="equipoTemporada" ng-model="equipo.equipoTemporadas" ng-options="temporada as temporada.anyo for temporada in temporadas track by temporada.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
